In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("Data.csv").set_index("Postcode")
del df["Unnamed: 0"]
df.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Rouge,Malvern
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       Guildwood,Morningside,West Hill
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

In [9]:
geo_df = pd.read_csv("Geospatial_Coordinates.csv").set_index("Postal Code")
geo_df.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [10]:
df = df.join(geo_df)
df.head()

,Borough,Neighbourhood,Latitude,Longitude
Postcode,,,,
M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476